

.dragon-box {
	height: 300px;
	width: 200px;
	overflow: hidden;
}

.dragon-box-drag-hover {
	background-color: green;
}

.unused-container {
	width: 80%;
	height: 500px;
	background-color: yellow;
}

.meal-container {
	width: 100%;
	height: 200px;
	background-color: rgb(173, 35, 0);
}

.recipe-title {
	height: 50px;
	text-overflow: ellipsis;
}


// .unused-container:hover {
// 	width: 80%;
// 	height: 500px;
// 	background-color: orange;
// }

// .droppable:hover,.droppable.hover{
// 	background-color: purple;
// }


.background-image{
	// height: 100vh;
	display:flex;
	min-width: 100%;
	// height: 100%;
	background: image-url("background_image.jpg");
	background-position: center;
	background-size: cover;
	// background-attachment: fixed;
  }

.cutting-board {
	// display:flex;
	background-image: image-url("cutting_board.png");
	background-position: center;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-size: 100% 100%;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
  align-content: center;
  display: flex;
}