

.dragon-box {
	height: 100px;
	width: 100px;
}

.dragon-box-drag-hover {
	background-color: green;
}

.unused-container {
	width: 80%;
	height: 500px;
	background-color: yellow;
}

.meal-container {
	width: 150px;
	height: 150px;
	background-color: orange;
}

// .unused-container:hover {
// 	width: 80%;
// 	height: 500px;
// 	background-color: orange;
// }

// .droppable:hover,.droppable.hover{
// 	background-color: purple;
// }
